body{
    margin:0;
    font-family:Arial;
    background:#4b3c82;
    color:white;
    text-align:center;
}
.scoreboard{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:20px;
    margin-bottom:20px;
}
.team{
    background:#7e6bd6;
    padding:15px 25px;
    border-radius:12px;
    font-size:18px;
}
.grid{
    display:grid;
    grid-template-columns:repeat(5,150px);
    grid-template-rows:repeat(4,120px);
    gap:15px;
    justify-content:center;
    margin-top:20px;
}
.cell{
    background:#d7c6ff;
    color:black;
    font-size:18px;
    font-weight:bold;
    border-radius:15px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:5px;
}
.cell.used{
    background:#999;
    cursor:default;
}
.modal{
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
}
.modal-content{
    background:#d7c6ff;
    color:black;
    padding:30px;
    border-radius:15px;
    width:600px;
    max-height:80%;
    overflow:auto;
}
button{
    margin:5px;
    padding:8px 12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.main-btn{background:#6c5ce7;color:white;}
.close-btn{background:#aaa;}