body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1b4b !important; /* Глубокий темно-синий цвет */
}

.c1 {
    color: #702cef;
}

.b1 {
    background-color: #702cef;
    color: #fff;
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: background-color 0.2s, transform 0.2s;
}

.b1:hover {
    background-color: #5a1c9c;
    transform: translateY(-2px);
}

.title-glow {
    color: #702cef;
    text-shadow: 0 0 10px rgba(84, 13, 190, 0.5);
}

.team-card {
    background-color: #3730a3;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.team-card:hover {
    transform: scale(1.05);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 15px;
    max-width: 900px;
    margin: 0 auto;
}

.question-cell {
    background-color: #4f46e5;
    color: #0e0e0e;
    font-size: 28px;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}

.question-cell:hover {
    background-color: #4338ca;
    transform: scale(1.02);
    box-shadow: inset 0 0 15px rgba(251, 191, 36, 0.3), 0 6px 10px rgba(0,0,0,0.4);
}

.question-cell.used {
    background-color: #312e81;
    color: transparent; /* Прячем баллы, если вопрос уже сыгран */
    cursor: default;
    box-shadow: none;
    pointer-events: none; /* Отключаем клики */
}